// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-blue: #007ac8;
$white-blue: #bce4f7;
$white: white;

@font-face {
  font-family: 'Hero';
  src: url('Hero/hero.otf') format('opentype');
}

body {
  font-family: 'Hero';
  background-color: $dark-blue;
  color: $white;
}
