$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~normalize.css/normalize.css";

$dark-blue: #007AC8;
$white-blue: #BCE4F7;
$white: white;

@font-face {
    font-family: 'Hero';
    src: url("Hero/hero.otf") format("opentype");
}

body {
    font-family: 'Hero';
    background-color: $dark-blue;
    color: $white;
}


#hsl {
    padding: 0 1em;
    border-bottom: 2px solid $white;

    table {
        width: 100%;
        box-sizing: border-box;

        padding: 1em;
        font-size: 1.5em;
        border-collapse: collapse;
        

        td {
            padding: 0.5em 0;
            border-bottom: 1px solid rgba($color: $white-blue, $alpha: 0.2);
        }

        tr:last-child td {
            border-bottom: none;
        }
    }

    .shortName {
        width: 5%;
        font-weight: bold;
    }

    .departure {
        width: 5em;

        div {
            background-color: white;
            border-radius: 0.3em;
            text-align: center;
            color: $dark-blue;
            font-weight: bold;
            padding: 0.5em;
        }
    }
}

#clock {
    border-bottom: 2px solid $white;

    h2 {
        text-align: center;
        margin: 0.5em;
        font-size: 4em;
    }
}

#kitty {
    background-image: url('kitty.gif');
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 200px;
}